USE [master]
GO
/****** Object:  Database [Product]    Script Date: 21-05-2025 21:58:18 ******/
CREATE DATABASE [Product]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Product', FILENAME = N'C:\SQLDATA\Product.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Product_log', FILENAME = N'C:\SQLDATA\Product_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Product].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Product]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 21-05-2025 21:58:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [varchar](50) NULL,
	[ProductDescription] [varchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[AddProduct]    Script Date: 21-05-2025 21:58:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddProduct]
    @ProductName VARCHAR(100),
    @ProductDescription VARCHAR(255)
AS
BEGIN
    INSERT INTO Product (ProductName, ProductDescription)
    VALUES (@ProductName, @ProductDescription);
END;
GO
/****** Object:  StoredProcedure [dbo].[DeleteProduct]    Script Date: 21-05-2025 21:58:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[DeleteProduct]
    @Productid INT
AS
BEGIN
    DELETE FROM Product
    WHERE Productid = @Productid
END;
GO
/****** Object:  StoredProcedure [dbo].[GetProduct]    Script Date: 21-05-2025 21:58:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure  [dbo].[GetProduct]
    @Productid INT
AS
BEGIN
    SELECT * FROM Product
    WHERE Productid = @Productid
END;
GO
/****** Object:  StoredProcedure [dbo].[GetProducts]    Script Date: 21-05-2025 21:58:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure  [dbo].[GetProducts]
AS
BEGIN
    SELECT * FROM Product
END;
GO
/****** Object:  StoredProcedure [dbo].[UpdateProduct]    Script Date: 21-05-2025 21:58:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure  [dbo].[UpdateProduct]
    @Productid INT,
    @ProductName VARCHAR(100),
    @ProductDescription VARCHAR(255)
AS
BEGIN
    UPDATE Product
    SET ProductName = @ProductName,
        ProductDescription = @ProductDescription
    WHERE Productid = @Productid
END;
GO
USE [master]
GO
